/*created on: Oct 25 2021*/
/*modified on: Nov 1 2021*/
/*body
{
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.rootDiv
{
	background-color: red;
}
.header
{
	background-color: red;
}
.containerInformation
{
	background-color: red;
}	
.userInformation
{
	background-color: red;
}
.displayPicture
{
	background-color: red;
}	
.leftNav
{
	padding: 10px;
	width: 20%;
	height: 50%;
	background-color: red;
	float: left;
	box-shadow: 10px 10px 10px black;
}
a
{
	width: auto;
	height: 3%;
	padding: 10px;
	background-color: red;
	color: black;
	display: block;
	text-decoration: none;
	transition:all 200ms ease-in-out;
}
.quickLink:hover
{
	background-color: red;
	box-shadow: 10px 10px 10px black;
}
.mainContent
{
	padding: 10px;
	position: absolute;
	left: 30%;
	width: 60%;
	height: 46%;
	scroll-behavior: smooth;
	overflow: scroll;
	scrollbar-width: none;
	background-color: red;
	float: right;
	box-shadow: 10px 10px 10px black;
}
.socialsContainer
{

}
.flexify
{
	display :flex;
}
.horiz
{
	flex-direction: row;
}
.cardItem
{
	width: 10%;
	height: 25%;
	border-radius: 10px;
	box-shadow: 13px 13px 13px;
}
.contentHome
{
	background-color: white;
}
.homeContainer
{
	background-color: red;
}
.horizontalRule
{
	background-color: black;
}
.footerContent
{
	background-color: red;
}
.mainContainer
{
	padding: 10px;
	height: 50%;
	width: 100%;
	overflow: hidden;
}
.exampleHide
{
	display: none;	
	position: absolute;
	width: 200px;
	height: 40px;
	background-color: yellow;
	top: 150px;
	left: 250px;
	z-index: 2;
}
#exampleTheTarget:hover
{
	<//script></script>
}
.myProfile
{
	object-fit: cover;
}
.leftPlaced
{
	float: left;
}
.rightPlaced
{
	float: right;
}
.showThis
{
	display: block;
	height: 150px;
	width: 100vw;
}
.flexify
{
	display: flex;
}
.horiz
{
	flex-direction: row;
}
.centerify
{
	justify-content: space-evenly;
	align-items: center;
}
.paddingAdd
{
	padding: 10px;
}
.cornerSmoothen
{
	overflow: hidden;
	border-radius: 10px;
}
.card
{
	max-width: 220px;
	min-width: 220px;
	height: 180px;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
.noShadow
{
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);	
}
.colorRed
{
	background-color: red;
}
.colorPurple
{
	background-color: rebeccapurple;
}
.badgeStuff
{
	width: calc(220px - 10px);
	height: 40px;
	padding: 10px;
}
.colorYellow
{
	background-color: yellow;
}
.colorBlue
{
	background-color: blue;
}
.colorGreen
{
	background-color: green;
}
.colorPink
{
	background-color: pink;
}
.colorGrey
{
	background-color: grey;
}
.fitImage
{
	width: 220px;
	height: 220px;
}
.marginAdd
{
	margin: 20px;
}
.getParams
{
	width: 84vw;
	height: 60px;
}
.leftSpace
{
	margin:5px 20px;
}
.scrollStuff
{
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-behavior: smooth;
	scrollbar-width: none;
}*/